.customers {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-evenly;
}

.customer {
    background-color: rgb(243, 243, 133);
    border: 2px dotted rgb(233, 22, 22);
    color: rgb(17, 17, 85);
    padding: 0.5rem;
    margin: 0.5rem
}

.customer_header {
    font-size: larger;
    font-weight: 700;
    line-height: 3rem;
}