@import url("https://fonts.googleapis.com/css?family=Specimen|Fugaz+One");
@import url("https://fonts.googleapis.com/css?family=Specimen|Notable");
@import url("https://fonts.googleapis.com/css?family=Specimen|Ultra");

.placeForm {
    display: flex;
    flex-direction: column;
    align-items: center;
    background-image: url("/src/paperbacklight.png");
    background-size: cover;
    border-radius: 0.4rem;
    box-shadow: 0.5rem 0.5rem 1rem rgba(9, 8, 8, 0.546);
    background-repeat: no-repeat;
    margin-left: 200px;
    margin-right: 200px;
    margin-bottom: 80px;
}

.placeHeader {
    font-family: Ultra;
    color: #000000;
    text-shadow: 2px 2px 0 #FFFFFF, 2px -2px 0 #FFFFFF, -2px 2px 0 #FFFFFF, -2px -2px 0 #FFFFFF, 2px 0px 0 #FFFFFF, 0px 2px 0 #FFFFFF, -2px 0px 0 #FFFFFF, 0px -2px 0 #FFFFFF;
}

.placeName, .placeAddress, .placeComment, .categoryLabel {
    font-family: Fugaz One;
    font-size: 20px;
    margin-bottom: 25px;
}

.checkCategory {
    font-family: Nothing You Could Do;
    font-size: 18px;
}