@import url("https://fonts.googleapis.com/css?family=Specimen|Lobster");

.placeDetailsHeader {
    display: flex;
    justify-content: center;
}

.favorite {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-image: url("/src/paperbacklight.png");
    background-size: cover;
    border-radius: 0.4rem;
    box-shadow: 0.5rem 0.5rem 1rem rgba(9, 8, 8, 0.546);
    background-repeat: no-repeat;
    margin-left: 200px;
    margin-right: 200px;
    margin-bottom: 25px;
}

.recComment,
.recAddress {
    font-family: Nothing You Could Do;
    font-size: 18px;
    margin-bottom: 15px;
}

.favHeader {
    display: flex;
    justify-content: center;
    font-size: 40px;
    text-shadow: 1px 0px 1px #CE5937, 0px 1px 1px #000000, 2px 1px 1px #da4c37, 1px 2px 1px #000000, 3px 2px 1px #de6f4e, 2px 3px 1px #000000, 4px 3px 1px #e09953, 3px 4px 1px #000000, 5px 4px 1px #e09953, 4px 5px 1px #000000, 6px 5px 1px #FFA595, 5px 6px 1px #EEEEEE, 7px 6px 1px #CCCCCC;
    color: #b5c4ad;
    font-family: Lobster;
    border-bottom: 8px double #f2d867;
    border-radius: 16px;
    margin-left: 200px;
    margin-right: 200px;
}