.placeDetailsHeader {
    display: flex;
    justify-content: center;
}

.recommended {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-image: url("/src/paperbacklight.png");
    background-size: cover;
    border-radius: 0.4rem;
    box-shadow: 0.5rem 0.5rem 1rem rgba(9, 8, 8, 0.546);
    background-repeat: no-repeat;
    margin-left: 200px;
    margin-right: 200px;
    margin-bottom: 25px;
}

.recComment, .recAddress {
    font-family: Nothing You Could Do;
    font-size: 18px;
    margin-bottom: 15px;
}