@import 'https://fonts.googleapis.com/css?family=Raleway';

div.container {
    margin: 0 auto;
    padding: 3em 3em;
    text-align: center;
}

div.container a {
    color: #8f4f28;
    text-decoration: none;
    font: 20px Notable;
    margin: 0px 5px;
    padding: 5px 5px;
    position: relative;
    z-index: 0;
    cursor: pointer;
}

.amber {
    background: #f2d867;
}

/* Pull left  */
div.pullLeft a:before {
    position: absolute;
    width: 2px;
    height: 100%;
    right: 0px;
    top: 0px;
    content: '';
    background: #FFF;
    opacity: 0.3;
    transition: all 0.3s;
}

div.pullLeft a:hover:before {
    width: 100%;
}